.todosApp{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(237, 231, 231);
  box-shadow: 5px 7px 20px rgb(179, 177, 177);
  max-width: 60%;
}
.todo{ width: 100%;
  border-bottom: 1px solid rgb(179, 177, 177);
  display: flex;
  justify-content: space-between;
  color: grey;
  font-size: 3rem;
}